[submodule "submodule/pathogen"]
	path = submodule/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodule/jade"]
	path = submodule/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "submodule/scss"]
	path = submodule/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "submodule/html5"]
	path = submodule/html5
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "submodule/json"]
	path = submodule/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "submodule/coffee-script"]
	path = submodule/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "submodule/git"]
	path = submodule/git
	url = https://github.com/tpope/vim-git.git
[submodule "submodule/fugitive"]
	path = submodule/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodule/candyman"]
	path = submodule/candyman
	url = https://github.com/vim-scripts/candyman.vim.git
[submodule "submodule/tcomment"]
	path = submodule/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "submodule/commandt"]
	path = submodule/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "submodule/nerdcommenter"]
	path = submodule/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "submodule/surround"]
	path = submodule/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodule/markdown"]
	path = submodule/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "submodule/haml"]
	path = submodule/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "submodule/snipmate"]
	path = submodule/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "submodule/vividchalk"]
	path = submodule/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "submodule/supertab"]
	path = submodule/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "submodule/align"]
	path = submodule/align
	url = https://github.com/tsaleh/vim-align.git
[submodule "submodule/ruby"]
	path = submodule/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "submodule/jquery"]
	path = submodule/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "submodule/solarized"]
	path = submodule/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodule/taglist-plus"]
	path = submodule/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "submodule/stylus"]
	path = submodule/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "submodule/javascript"]
	path = submodule/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "submodule/csv"]
	path = submodule/csv
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "submodule/neopro"]
	path = submodule/neopro
	url = https://github.com/vim-scripts/Neopro.git
[submodule "submodule/dragon"]
	path = submodule/dragon
	url = https://github.com/vim-scripts/dragon.git
[submodule "submodule/vimerl"]
	path = submodule/vimerl
	url = https://github.com/oscarh/vimerl.git
[submodule "submodule/shady"]
	path = submodule/shady
	url = https://github.com/cloudhead/shady.vim.git
[submodule "submodule/extradite"]
	path = submodule/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "submodule/textile"]
	path = submodule/textile
	url = https://github.com/stepahn/textile.vim.git
[submodule "submodule/mustache"]
	path = submodule/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "submodule/jasmine"]
	path = submodule/jasmine
	url = https://github.com/claco/jasmine.vim.git
[submodule "submodule/stringtemplate"]
	path = submodule/stringtemplate
	url = https://github.com/jboyens/vim-stringtemplate.git
[submodule "submodule/slime"]
	path = submodule/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "submodule/threesome"]
	path = submodule/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "submodule/showmarks"]
	path = submodule/showmarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "submodule/nginx"]
	path = submodule/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "submodule/lua-inspect"]
	path = submodule/lua-inspect
	url = https://github.com/xolox/vim-lua-inspect.git
[submodule "submodule/yaml"]
	path = submodule/yaml
	url = https://github.com/ingydotnet/yaml-vim.git
[submodule "submodule/prolog"]
	path = submodule/prolog
	url = https://github.com/adimit/prolog.vim.git
[submodule "submodule/latex"]
	path = submodule/latex
	url = https://github.com/nuclearsandwich/vim-latex.git
