[submodule "submodule/pathogen"]
	path = submodule/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodule/jade"]
	path = submodule/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "submodule/scss"]
	path = submodule/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "submodule/html5"]
	path = submodule/html5
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "submodule/json"]
	path = submodule/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "submodule/coffee-script"]
	path = submodule/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "submodule/git"]
	path = submodule/git
	url = https://github.com/tpope/vim-git.git
[submodule "submodule/fugitive"]
	path = submodule/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodule/candyman"]
	path = submodule/candyman
	url = https://github.com/vim-scripts/candyman.vim.git
[submodule "submodule/tcomment"]
	path = submodule/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "submodule/commandt"]
	path = submodule/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "submodule/nerdcommenter"]
	path = submodule/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "submodule/surround"]
	path = submodule/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "submodule/markdown"]
	path = submodule/markdown
	url = https://github.com/tpope/vim-markdown.git
