[submodule "submodule/pathogen"]
	path = submodule/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "submodule/jade"]
	path = submodule/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "submodule/scss"]
	path = submodule/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
